rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // A user can create their own user document, but cannot
    // read, update or delete other user documents.
    match /users/{userId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
